@import "../../../../../../node_modules/@angular/material/theming";

.company-list-header {
  padding-bottom: 20px;
  margin-right: 10px;
}

.companies-table {
  table {
    width: 100%;
    box-shadow: none;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-select {
  overflow: initial;
}

.budget-content {
  padding-bottom: 50px;
}

.income {
  background: #{map_get($mat-green, 800)};

}

.expense {
  background: #{map_get($mat-red, A400)};
}

.account-select, .budget-type {
  width:100%;
}
