<div class="sidebar">
  <div class="side-nav-header">
    <div class="row">
      <div class="col-sm-12">
        <div class="m-3">
          <div class="row">
            <div class="col-sm-4">
              <div class="layer-container">
                <mat-icon>layers</mat-icon>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="app-name-container">
                <span>Budget tracker</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <div class="row">
      <div class="col">
        <div class="accounts-label-container">
          <span class="accounts-label">ACCOUNTS</span>
        </div>
        <app-account-selection></app-account-selection>
        <app-information-panel
          *ngFor="let element of informationPanelElements"
          [amount]="element.amount"
          [background]="element.background"
          [color]="element.color"
          [icon]="element.icon"
          [label]="element.label">
        </app-information-panel>
        <div class="icon-container">
          <app-icon [background]="'icon-background-gray'" [color]="'icon-color-gray'" [icon]="'settings'"></app-icon>
        </div>
      </div>
    </div>
  </div>
</div>
