<div class="w-100 cash-button">
  <div class="side-menu-button w-100">
    <div class="row w-100 h-100 m-0">
      <div class="col-sm-12">
        <div class="row w-100 h-100">
          <div class="information-panel-container">
            <div class="information-panel">
              <div class="col-sm-3">
                <div class="icon-container {{iconBackgroundClass}}">
                  <mat-icon class="{{iconColorClass}}">{{icon}}</mat-icon>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="information-container">
                  <div class="information-details">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="information">
                          <span class="information-type">Cash</span>
                          <span class="information-value">{{amount}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
